* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}